option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 60
    display_errors: "Off"
    zlib.output_compression: "Off"
    allow_url_fopen: "On"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public/css: public/css
    /public/js: public/js
    /public/images: public/images
