cat > /Users/yooyonghoon/Herd/2026-Preservation-Backend/.ebextensions/01-laravel.config << 'EOF'
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    composer_options: "--no-dev --optimize-autoloader"
  # 최신 플랫폼을 위한 추가 설정
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public

container_commands:
  01_storage_log:
    command: "mkdir -p storage/logs && touch storage/logs/laravel.log"
#  02_permissions_storage:
#    command: "chmod -R 775 storage"
#  03_permissions_bootstrap:
#   command: "chmod -R 775 bootstrap/cache"
#  04_owner_storage:
#    command: "chown -R webapp:webapp storage"
#  05_owner_bootstrap:
#    command: "chown -R webapp:webapp bootstrap/cache"
#  06_storage_link:
#    command: "php artisan storage:link"
#    ignoreErrors: true
#  07_cache_config:
#    command: "php artisan config:cache"
#  08_cache_routes:
#    command: "php artisan route:cache"
#  09_cache_views:
#    command: "php artisan view:cache"
#  10_migrate:
#    command: "php artisan migrate --force"
#    leader_only: true
EOF
