option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public

container_commands:
  01_mkdir_storage:
    command: "mkdir -p storage/framework/views storage/framework/cache storage/framework/sessions storage/logs"
  02_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  03_storage_link:
    command: "php artisan storage:link"
    ignoreErrors: true
