container_commands:
  01_migrate:
    command: "php /var/app/staging/artisan migrate --force"
    leader_only: true
  02_cache_clear:
    command: "php /var/app/staging/artisan cache:clear"
    leader_only: true
  03_config_cache:
    command: "php /var/app/staging/artisan config:cache"
    leader_only: true
  04_route_cache:
    command: "php /var/app/staging/artisan route:cache"
    leader_only: true
  05_view_cache:
    command: "php /var/app/staging/artisan view:cache"
    leader_only: true
